* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Internet Explorer 10+ and Edge */
    -ms-overflow-style: none;

    /* Firefox */
    scrollbar-width: none;
    /* Older versions of Firefox */
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar {
    /* Safari, Chrome and Opera */
    display: none;
}

.page {
    padding: 3rem 2rem;
}