{% extends 'bases/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% load static %}
{% block javascript %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock javascript  %}
{% block content %}
<div class="content mx-5 my-5">
<form action="/api/list" method="POST">
    {% csrf_token %}
    <div class="d-flex">
        <label for="date" class="h4 me-5">Select Date</label>
        <input type="date" name="date" id="date">
    </div>
    <hr>
    <h4>Filter <i class="fa-solid fa-filter"></i></h4>
    <div class="d-flex justify-content-between">
        <div>
            <div class="dropdown d-inline">
                <select name="class" id="class" class="btn btn-secondary btn-lg dropdown-toggle">
                    <option value="all" selected>Select Class</option>
                    <option value="9A">9A</option>
                    <option value="9B">9B</option>
                    <option value="10A">10A</option>
                    <option value="10B">10B</option>
                    <option value="all">All</option>
                </select>
            </div>
            <div class="dropdown d-inline">
                <select name="sort" id="sort" class="btn btn-secondary btn-lg dropdown-toggle">
                    <option value="none" selected>Sort By</option>
                    <option value="time">Time of Entry</option>
                    <option value="alphabetically">Alphabetically</option>
                    <option value="none">None</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-lg">Apply</button>
    </div>
</form>
<hr>
<table class="table table-striped-columns">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Class</th>
      <th scope="col">Time</th>
      <th scope="col">Status</th>
    </tr>
    {% for entry in entries %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ entry.StudName }}</td>
            <td>{{ entry.StudClass }}</td>
            <td>{{ entry.Timestamp }}</td>
            <td>{{ entry.Status }}</td>
        </tr>
    {% endfor %}
  </thead>
  <tbody id="table-data-container"> 
  </tbody>
</table>
</div>
{% endblock content %}