{% extends 'bases/base.html' %}
{% block title %}Dashboard{% endblock title %}
{% load humanize %}
{% load static %}
{% block stylesheets %}
<link rel="stylesheet" href={% static 'css/dashboard.css' %}>
{% endblock stylesheets %}
{% block content %}
<div class="page">
    <div class="conatainer">
        <div class="row">
            <div class="col pb-5">
                <div>
                    <i class="fa-solid fa-user fa-4x"></i>
                    <p class="mt-3 h3 fw-bold mb-0">{{request.user.get_full_name}}</p>
                    <p class="text-muted">@{{ user }}</p>
                    <p class="text-muted">Last login {{ user.last_login|naturaltime }}</p>
                </div>
                <hr>
                <div class="mt-4">
                    <p class="h4">Details <i class="fa-solid fa-pencil"></i></p>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <th class="text-muted">Email</th>
                                <td class="text-primary">{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th class="text-muted">Status</th>
                                <td class="text-primary">
                                    {% if user.is_superuser %}
                                        <span>superuser</span>
                                    {% elif user.is_admin %}
                                        <span>admin</span>
                                    {% else %}
                                        <span>user</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="text-muted">Joined</th>
                                <td class="text-primary">{{ user.date_joined }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-4">
                    <span class="fw-bold h5">Tags <i class="fa-solid fa-arrow-right"></i></span>
                    <p>
                        {% if user.groups.all  %}
                        {% for g in user.groups.all %}
                        <span>{{ g }}</span>
                        {% endfor %}
                        {% else %}
                        <span>No tags</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="col-lg-6 pb-5">
                <div>
                    <h3 class="fw-bold">Hey there 👋, welcome back</h3>
                    <p>This is your profile page.</p>
                </div>
                <p class="fw-bold">A web based interface for teachers and staff members to view and mark daily attendance of students without the hassle of manual roll call.</p>
                <br><br><br>
                <h4>Check your attendance now!</h4>
                <a href="/dashboard" class="btn btn-outline-primary btn-lg" role="button">View Dashboard</a>
            </div>
            <div class="col pb-5">
                <div>
                    <p class="h4 fw-bold">Tasks</p>
                    <div class="list-group">
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            First task
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Second task
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Third task
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Fourth task
                        </label>
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            Fifth task
                        </label>
                    </div>
                </div>
                <img class="dashboard__image" src="{% static 'media/images/pro1.png' %}" alt="placeholder image">
            </div>
        </div>
</div>
{% endblock content %}